h1 {
    text-align: center;
}
.users-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.users-box p {
    width: 40%;
    text-align: center;
    border: 1px solid silver;
    padding: 20px;
    margin: 5px 15px;
    background: silver;
}
.users-box button {
    display: block;
    margin: 10px auto 0;
    width: 200px;
    background: #4d7221;
    border: 1px solid #254107;
    cursor: pointer;
}
.users-box button:hover {
    background: #6aab1b;
}
.users-box button:focus {
    background: #f1cb0e;
}
.users-box button:active {
    background: #ec0b13;
}