h1 {
    text-align: center;
}
#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#users div {
    width: 40%;
    text-align: center;
    border: 1px solid silver;
    padding: 20px;
    margin: 5px 15px;
    background: silver;
}
.users-box a {
    display: block;
    margin: 10px auto 0;
    width: 200px;
    background: #4d7221;
    border: 1px solid #254107;
    cursor: pointer;
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
.users-box a:hover {
    background: #6aab1b;
}
.users-box a:focus {
    background: #f1cb0e;
}
.infoDetail {
    margin: 0 auto;
    max-width: 500px;

}
.id {
    background: silver;
    padding: 10px
}
.address {
    background: silver;
    padding: 10px
}
.info {
    text-align: center;
    background: blanchedalmond;
    padding: 5px 10px;
}
.phone {
    background: silver;
    padding: 10px
}
.geo {
    background: silver;
    padding: 10px
}
.company {
    background: silver;
    padding: 10px
}
.button-detail {
    text-align: center;
}
.button-detail button {
    width: 90%;
    height: 40px;
    margin: 30px;
    background: #f8f6be;
    border: 1px solid #254107;
    cursor: pointer;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.posts-box li {
    width: 15%;
    border: 1px solid silver;
    padding: 20px;
    margin: 15px 10px;
    background: #b6d0f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.posts-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.posts-box a {
    display: block;
    background: #abf3b0;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin: 10px auto 0;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #254107;
    cursor: pointer;
    color: black;
}
.posts-box a:hover {
    background: #6aab1b;
}
.posts-box a:focus {
    background: #f1cb0e;
}
.post-detail {
    background: silver;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
.comments-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.comments-box p {
    width: 20%;
    background: #b6d0f8;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.4;
}







































